@import './markdown.less';
@import './highlight.less';

html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

::selection {
  color: #ffffff;
  background: rgba(135, 199, 145, 0.7);
}

html.dark {
  background: #0d1117;

  ::selection {
    background: rgba(252, 144, 56, 0.8);
  }
}
